/* Your CSS styles here! */

header,
nav {
  padding: 20px 60px 20px 50px;
  display: inline-block;
  /*width: 500px;*/
  margin: auto;

}

a:link {
  text-decoration: none;
}

a:hover,
button:hover,
#form input[value]:hover {
  background-color: #ddd;
  color: #5F9EA0;
}


a[href],
label,
button,
#form input[value] {
  color: #5F9EA0;
  font-size: 17px;
  padding: 5px;
}

button,
#form input[value] {
  color: white;
  font-size: 15px;
  border: none;
  background-color: #5F9EA0;
}



li {
  display: inline;
  padding: 5px;
}

img,
#covidsection,
#askdoc,
#form {
  height: auto;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1,
h2 {
  font-size: 50px;
  font-family: optima, sans-serif;
  margin-top: 70px;
  margin-bottom: 30px;
  color: #5F9EA0;
}

h2 {
  font-size: 20px;
  border-style: solid;
  color: white;
  background-color: #5F9EA0;
  padding: 10px;
}

h1,
h3 {
  text-align: center;
  color: #5F9EA0;
}

p {
  font-size: 20px;
  text-align: center;
  color: #5F9EA0;
}

#covidsection {
  border-style: solid;
  border-color: #FF5733;
  padding: 20px;
}


#covidsection h3 {
  font-size: 30px;

}

#welcome p {
  padding: 20px;
}

form {
  margin-bottom: 40px;
}

#form legend,
#form label,
#form p,
#form input {
  text-align: left;
  font-size: 15px;
  color: #756561;
  padding: 5px;
  margin: 10px;
}

#message {
  width: 50%;
  overflow: hidden;
  min-height: 20px;
  line-height: 20px;
}